@font-face {                  
	font-family: 'AnalogueOS';
	src: url(https://humantooth.neocities.org/fonts/AnalogueOS-Regular.woff) format('woff');
	font-weight: normal;
	font-style: normal;
} 
body {
	background-image: url('./img/bg.webp');
	background-size: 25% 25%;
	margin-left: 5%;
	margin-right: 5%;
}

.textContainer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 5px;
	font-size: 1.4vw
}

h1 {
	text-align: center;
	margin: 0;
	font-family: 'AnalogueOS';
	font-size: 6vw;
}

h2 {
	text-align: center;
	margin: 0;
	font-family: 'AnalogueOS';
	font-size: 2vw
}

h3 {
	text-align: center;
	margin-bottom: 5px;
	font-family: 'AnalogueOS';
}

p {
	background-color: rgba(180,180,180,.8);
	text-align: center;
	margin-bottom: 2px;
	margin-top: 2px;
	font-family: 'AnalogueOS';
}

img {
	margin: auto;
	width: 90%;
}

.headingContainer {
	.textContainer;
	margin: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	align-content: center;
	border: solid 5px;
	border-color: rgba(180,180,180,1);
	background-color: rgba(210,210,210,.8);
}

.headingContainer img {
	max-width: 200px;
}

.mainHolder {
	display: flex;
	align-items: center;
	border: solid 5px;
	border-color: rgba(180,180,180,1);
	background-color: rgba(210,210,210,.8);
}

.mainHolder img {
	max-width: 30vw;
}

.maidHolder {
	display: flex;
	align-items: center;
	border: solid 5px;
	border-color: rgba(180,180,180,1);
	background-color: rgba(210,210,210,.8);
}

.maidHolder img{
	flex: 0 1 50%;
}

.footStickers {
	display: flex;
	flex-wrap: wrap;
	background-color: rgba(180,180,180,.8);
}

.footStickers img{
	width: initial;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 600px){
	.mainHolder {
		flex-direction: column;
	}
	.maidHolder {
		display: none;
	}
	.headingContainer img{
		display: none;
	}
	#extramaid {
		display: none;
	}
	.textContainer {
		font-size: 5vw;
	}
	h1 {
		font-size: 12vw;
	}
	h2 {
		font-size: 6vw;
	}
	.mainHolder img {
		max-width: 80vw;
	}
}
